input {
    keyboard {
        xkb {
            layout "us"
            options "caps:escape,altwin:meta_win"
        }
        numlock
    }

    touchpad {
        tap
        natural-scroll
        click-method "clickfinger"
    }

    focus-follows-mouse
}

layout {
    gaps 16
    background-color "transparent"
    border {
        width 1
        inactive-color "#45475a"
        urgent-color "#f38ba8"
    }

    default-column-width { proportion 0.55; }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
}

prefer-no-csd

debug {
    honor-xdg-activation-with-invalid-serial
}

window-rule {
    geometry-corner-radius 1
    clip-to-geometry true
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-at-startup "noctalia-shell"
spawn-at-startup "niri-start-1password"

binds {
    Mod+Return { 
      // Start Ghostty and reuse the CWD of the current Ghostty
      // see niri.nix for the niri-ghostty-here script
      spawn "niri-ghostty-here";
    }
    Mod+B { spawn "firefox"; }
    Mod+D { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+E { spawn "niri-ghostty-here" "-e" "yazi"; }
    Mod+S { spawn "noctalia-shell" "ipc" "call" "controlCenter" "toggle"; }
    Mod+W { spawn "noctalia-shell" "ipc" "call" "wallpaper" "toggle"; }
    Mod+Comma { spawn "noctalia-shell" "ipc" "call" "settings" "toggle"; }
    Mod+Escape { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    Mod+Q { close-window; }
    Mod+Shift+E { quit; }
    Mod+F { fullscreen-window; }
    Mod+M { maximize-column; }
    Mod+O { toggle-overview; }
    Mod+Space { toggle-column-tabbed-display; }
    Print { screenshot; }

    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "noctalia-shell" "ipc" "call" "volume" "increase";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "noctalia-shell" "ipc" "call" "volume" "decrease";
    }
    XF86AudioMute allow-when-locked=true {
        spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput";
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "noctalia-shell" "ipc" "call" "volume" "muteInput";
    }

    XF86MonBrightnessUp allow-when-locked=true {
        spawn "noctalia-shell" "ipc" "call" "brightness" "increase";
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "noctalia-shell" "ipc" "call" "brightness" "decrease";
    }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H { move-column-left; }
    Mod+Shift+J { move-window-down; }
    Mod+Shift+K { move-window-up; }
    Mod+Shift+L { move-column-right; }

    Mod+Ctrl+H { set-column-width "-10%"; }
    Mod+Ctrl+L { set-column-width "+10%"; }
    Mod+Minus { set-window-height "-10%"; }
    Mod+Equal { set-window-height "+10%"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
}
